.program-box {
    height: 20em;
}

.code {
    height: 100%;
}

.runner {
    position: relative;
}

.run-button {
    position: absolute;
    top: 0;
    background-color: #04AA6D;
    border: none;
    padding: 0.25em;
    width: 2em;
    z-index: 4;
    border-radius: 5px;
    margin: 10px;
}

